<!DOCTYPE html>
<html lang="en">
<head>
    <link href="css/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Lina Aroldi</title>
</head>
<body>
<div class="whiteHalfDiv">
    <div style="white-space: nowrap">
        <h2>
            <p>Lina Aroldi</p>
            <p>Menu</p>
            <p>Arbeit</p>
            <p>Lebenslauf</p>
        </h2>
    </div>
    <div>
        <h1>
            <p class="titles">Lina.aroldi@mail.ch</p>
            <p class="titles">+41 76 440 82 90</p>
            <p class="titles">Insta. Lina.aroldi</p>
        </h1>
    </div>
</div>

<div class="blackHalfDiv">
    <div class="halfDivLeft">
        <h2 class="whiteTitle">Das kleine Buch von Tag und Nacht</h2>
        <h2 class="whiteTitle">Museum Riedberg</h2>
        <h2 class="whiteTitle">Hansen & Seematter</h2>
        <h2 class="whiteTitle">Bewegtes Plakat</h2>
        <h2 class="whiteTitle">EXIL-Club</h2>
        <h2 class="whiteTitle">Kloster Menzingen</h2>
    </div>
    <div class="halfDivRight">
    <img src="images/frosch.jpg">
    </div>


</div>

</body>
</html>